<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhj.seckill.mapper.SecOrderMapper">
    <insert id="generateOrder" >
        insert into secorder(good_id,user_id,create_time)
        values(#{goodId},#{userId},#{createTime})
    </insert>
    <select id="selectList" resultType="com.hhj.seckill.entry.SecOrder">
        select * from secorder
    </select>
</mapper>